.FrequentlyBoughtTogether img {
  margin: auto;
  width: 168px;
  height: 133px;
}
.FrequentlyBoughtTogether span {
  margin-right: 7px;
}
.card.FrequentlyBoughtTogether {
  width: 100%;
  height: 9rem;
}
