.StudentfeedbackProgress {
  width: 75%;

  margin: auto;
}
/* .StudentfeedbackCol2 {
  display: grid;
} */
.StudentfeedbackRow svg {
  color: #e59819;
}
.StudentfeedbackCol1 div:last-child {
  font-size: 15px;
}
